* {
    padding: 0;
    margin: 0;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    margin: 50px;
}

h2 { 
    color: white;
    text-align: center;
    margin: 50px;
}

p {
    text-align: justify;
    color: white;
    margin: 70px;
    font-size: 20px;
}

.port {
    display: flex;
    justify-content: center;
}

.porta {
    width: 500px;
    margin: 30px;
}

.des {
    display: flex;
    justify-content: center;
}

.contenedor {
    text-align: center;
}

.dec {
    width: 500px;
}

footer {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 40px;
}